
.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 25% and remaining space */
    grid-gap: 30px; /* Adjust as needed for spacing */
    height: 100vh;
    background-color: #F5F5F5;
    
}


.static-name {
    display: grid;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 4rem 0 4rem;
    align-self: center;
    
}

.name {
    display: grid;
    grid-template-columns: auto auto; /* 25% and remaining space */
    gap:25px;
    height: auto;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}
.rudra {
    grid-column: 1/2;
    
}
.goel {
    grid-column: 2/3;
    padding:50px 0 0 0;
}
.student {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 35px;
}

.socials {
    margin-top:2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap:1rem;
    bottom: 30px;
}
.socials-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.dynamic-content {
    overflow-y: auto;
    font-family: 'Roboto Mono', sans-serif;
    display: grid;
    grid-template-rows: repeat(auto, 5);
    padding: 3em 0 0 0;
    scroll-behavior: smooth;
}

.about-me {
    height: 100vh;
   display: grid;
   grid-template-rows: auto auto;
   
}
.full-bio {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.bio {
    font-family: "Roboto Mono" sans-serif;
    font-size: 1rem;
}

.pfp {
    width: 250px;
    height: auto;
    border-radius: 50%;;
    align-self: center;

}
.opfp {
    width: 250px;
    height: auto;
    border-radius: 10%;;
    align-self: center;

}
.bio-with-pfp {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px
}
.other-pics{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 0 0 4em 0;
    justify-items: center;
}
.middle-about-me-item {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    justify-items: center;
}
.down-arrow {
    width: 30px;
    height: auto;
    transition: width .3s;
}

.down-arrow:hover {
    width: 40px;
    height: auto;
    transition: width .3s;
}

.experience {
    height: 100vh;

}
.experience-header {
    margin: 1em
}

.one-experience {
    background-color: red;
    min-height: 20vh;
    padding: 1em;
    
}

.project-portfolio {
    height: 100vh;
}
.contact {
    height: 90vh;
}
.footer {
    height: 10vh;
}



/* when the page is on a massive screen */
@media screen and (min-width:1024px){
    
}
