:root {
    --karry: #FFEBD2;
    --atomic-tangerine: #FFA364;
    --crusta: #FC7643;
    --apple-blossom: #AF4F41;
    --pickled-bluewood:#273248;
}
* {
    padding: 0;
    margin: 0;
}


.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 25% and remaining space */
    grid-gap: 30px; /* Adjust as needed for spacing */
    height: 100vh;
    background-color: var(--karry);
    color: var(--pickled-bluewood);
    
}


.static-name {
    display: grid;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 4rem 0 4rem;
    align-self: center;
    
}

.name {
    display: grid;
    grid-template-columns: auto auto; /* 25% and remaining space */
    gap:25px;
    height: auto;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}
.rudra {
    grid-column: 1/2;
    
}
.goel {
    grid-column: 2/3;
    padding:50px 0 0 0;
}
.student {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 35px;
}

.socials {
    margin-top:2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap:1rem;
    bottom: 30px;
}
.socials-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    
}

a {
    text-decoration: none;
    color: var(--pickled-bluewood)
}

a:hover {
    cursor: pointer;
}

.dynamic-content {
    overflow-y: auto;
    font-family: 'Roboto Mono', sans-serif;
    display: grid;
    grid-template-rows: repeat(auto, 5);
    padding: 3em 0 0 0;
    scroll-behavior: smooth;
}

.about-me {
    height: 100vh;
   display: grid;
   grid-template-rows: auto auto;
   
}
.full-bio {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.bio {
    font-family: "Roboto Mono" sans-serif;
    font-size: 1rem;
}

.pfp {
    width: 250px;
    height: auto;
    border-radius: 50%;;
    align-self: center;

}
.opfp {
    width: 250px;
    height: auto;
    border-radius: 10%;;
    align-self: center;

}
.bio-with-pfp {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px
}
.other-pics{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 0 0 4em 0;
    justify-items: center;
}
.middle-about-me-item {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;
    justify-items: center;
}
.down-arrow {
    width: 30px;
    height: auto;
    transition: width .3s;
}

.down-arrow:hover {
    width: 40px;
    height: auto;
    transition: width .3s;
}
.experience-tile:hover {
    .down-arrow {
        width: 40px;
        height: auto;
        transition: width .3s;

    }
}


.link-out-arrow {
    width: 20px;
    height: auto;
    transition: width .3s;
}

.experience-link:hover {
    .link-out-arrow{
        width: 25px;
        height: auto;
        transition: width .3s;
    }
    .link {
        font-weight: bold;
    }
}

/* Experience Styling */

.experience-container {
    height:auto;
    background-color: var(--crusta);
    display:flex;
    flex-direction:column;

}
.experience-header {
    font-family: "Roboto Mono" sans-serif;
    font-weight: 700;
    font-size:3em;
    margin: .5em 0 0 1em;
}
.resume-link {
    font-weight: 700;
    font-size:1em;
    margin: 2em 3em;
    transition: .2s ease;


}
.resume-link:hover{
    font-weight: bold;
    font-size: 1.1em;
    transition: .2s ease;
    text-decoration: underline;
}
.experience-tile-container {
    display: grid;
    justify-items: center;
    height: auto
}

.experience-tile {
    background-color: var(--atomic-tangerine);

    min-height: 10vh;
    padding: 1em;
    margin:2em 0 0 0;
    width: 90%;
    border-radius: 10px;

    display: grid;
    gap: 10px;

}

.position {
    justify-self: center;
}
.position-information {
    justify-self: center;
}
.skills-developed {
    gap: 50px;
    margin: 1em 0 1em 0;
    font-size: .85em;
}
.skill {
    margin: 0 1em 0 1em;
    padding: .5em;
    background-color: var(--karry);
    border-radius: 2cap;
}

.experience-footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
}
.experience-link {
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
    justify-self: end;
    align-items: center;
}






.project-portfolio {
    height: 100vh;
    background-color: var(--atomic-tangerine);
}



.contact-container {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--crusta);
}

.contact-form{
    display: grid;
    gap: 40px;
    margin: 4em;
}
.form-container {
    display: grid;
    gap: 40px;
    
}

::placeholder {
    color: var(--pickled-bluewood);
}
input {
    width:98%;
    border: none;
    border-bottom: 2px solid var(--pickled-bluewood);
    outline: none;

    background-color: var(--crusta);

    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    padding: 5px;
    
}

textarea {
    width:100%;
    box-sizing: border-box;
    border: 2px solid var(--pickled-bluewood);
    outline: none;

    background-color: var(--crusta);

    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    padding: 5px
    
}

.submit-btn {
    width:100%;

    transition: .3s ease;
    background-color: var(--atomic-tangerine);
    border: 2px solid var(--atomic-tangerine);
    
    border-radius: 2cap;
    
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    padding: 5px;
    color: var(--pickled-bluewood);
}
.submit-btn:hover {
    background-color: var(--apple-blossom);
    border: 2px solid var(--apple-blossom);
    transition: .3s ease;

}

.contact-title {
    height:100%;
    background-color: var(--karry);
    display: grid;
    align-items: center;
}

.content-container {
    margin:0em 2em 0em 2em;
    display:grid;
    gap:35px;
}
.title-image {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items:center;
}
.contact-title-span {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto auto;
    font-weight: 900;
    font-size: 4em;
}
.contact-image {
    justify-self: center;
    width: 45%;
    height:auto
}
.contact-subtext {
    display: grid;
    gap:10px;
    font-style: italic;
}






.footer {
    height: 15vh;

    background-color: var(--pickled-bluewood);
    color: var(--karry);

    padding: 0em 3em 0em 3em;
    display: grid;
    align-items: center;
}
.footer-a {
    color: var(--karry);
    font-weight: bold;
}
.footer-name-tm {
    display: grid;
    grid-template-columns: 1fr 50fr;
    gap: 5px;
    align-items: center;
    margin-top:1em;
}
.copyright {
    width: 20px;
    color: var(--karry);
}


/* when the page is on a massive screen */
@media screen and (min-width:1024px){
    
}
 