


.project-portfolio {
    height: 100vh;
    background-color: var(--karry);
    display: flex;
    flex-direction: column;
    border-bottom: 15px solid white;

}

.projects-header {
    font-weight: 700;
    font-size:3em;
    padding-top:.5em;
    margin: auto;
    color: var(--pickled-bluewood);
}