
.static-name {
    display: grid;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0 4rem 0 4rem;
    color: var(--karry);
    align-self: center;
}


.top-image {
    display: flex;
    justify-self: center;
    margin-top: 1em;
}

.static-name-container {
    align-self: center;
}
.name {
    display: grid;
    grid-template-columns: auto auto; /* 25% and remaining space */
    gap:25px;
    height: auto;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 4rem;
    font-weight: bold;
}
.rudra {
    grid-column: 1/2;
    
}
.goel {
    grid-column: 2/3;
    padding:50px 0 0 0;
}
.student {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
}
.socials-and-scroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:2rem;
}
.socials {
    display: grid;
    grid-template-rows: auto auto auto;
    gap:1rem;
    bottom: 30px;
    color: var(--karry);
    
}

.social-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: var(--karry);
    gap: 15px;
}

.scrollwheel {
    background-color: var(--pickled-blossom);
    display: grid;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 3px solid var(--karry);
    font-size: 1.2em;
    gap: 10px;
}
.toc-page {
    transition: .5s ease

}
.toc-page:hover {
    font-weight: 700;
    font-size:1.05em;
    cursor:pointer;
    transition: .5s ease
}


@media screen and (max-width:1390px){
    .static-name {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin: 0;

    }

.top-image {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.static-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 100%;
}
.name {
    display: flex;
    flex-direction: row;
    height: auto;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.goel {
    padding:0;
}

.student {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.socials-and-scroll {
    display: flex;
    flex-direction: column;
    margin-top:2em;
    justify-content: center;
}
.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1rem;
    bottom: 30px;
    color: var(--karry);
    
}
.socials a {
    display: flex;
    justify-content: center;
}

.social-container {
    display: flex;
    
    justify-self: center;
    color: var(--karry);
    gap: 15px;
}

.scrollwheel {
    background-color: var(--pickled-blossom);
    display: grid;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    font-size: 1.2em;
    gap: 10px;
    margin-top: 2em;
}
.toc-page {
    transition: .5s ease;
    margin: 1em 0;
    padding: 1em 5em;
    justify-self: center;
    border: 2px solid var(--karry);
    border-radius: .5cap;

}
.toc-page:hover {
    font-weight: 700;
    font-size:1.05em;
    cursor:pointer;
    transition: .5s ease
}

    
}